* {
  margin: 0;
  padding: 0;
}



/*.container_center {*/
/*  min-height: 100%;  
  min-height: 100vh; */
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*vertical-align: center;*/
  /*align-items: flex-end;*/
  /*flex-wrap: wrap;*/
  /*padding-bottom: 10px;*/
  /*margin: auto*/
}


/*.row_center {
	align-items: center;
	justify-content: center;
}*/

/*.heading {*/
	/*display: flex;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	/*color: white;*/
	/*flex-wrap: nowrap;*/
    /*width: 50%;*/
    /*max-width: 50%*/
    /*flex-wrap: wrap;*/
    /*text-align: center;*/
    /*padding-top: 12px;*/
    /*border-bottom: solid white;*/

/*}*/

/*.center-button {
	justify-content: center;
}*/

/*.align-bottom {
	align-self: flex-end;
}*/

/*.center_sexy_line {
	display:flex;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: row-reverse;*/
	/*padding-bottom: 20px;*/

/*}*/

/*.sexy_line { 
    display:flex;
    border:none;
    min-width: 85%;
    color:white;
    height:1.5px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, from(#fff), to(#000));
}*/


/* RESET */

html,
body {
  height: 100%;
}

body {
	background-image: url(header.jpg);
	background-size: 100vw 100vh;
	margin:0;
	background-repeat: no-repeat;
}


.my-content {
	position: absolute;
	top: 0; bottom: 0; left: 30px; right: 30px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
}

.container {
  	display: flex;
    align-items: center;
    justify-content: center;
  	height: 100%;
  	flex-flow: column;
}

.t-center {
	text-align: center;
	color: white;
	justify-content: center;
	align-self: center;
	padding-top: 2vh;
}

.modal-text-color {
	color: black;

}

.button-position {
	align-self: center;
	text-align: center;
	color: white;
	padding-top: 18vh;
}

.btn-border {
	border-top: solid;
	border-color: red;
	padding-top: 5vh;
}

.modal-font {
	line-height: 100%;
	/*font-style: italic;*/
	font-weight: bold;
	font-size: 150%;
	font-family: 'Poiret One', bold;
}

/*.container div.center-div {
	flex: 0 1 auto;
	order: 1;
	align-self: auto;
	min-width: 0;
	min-height: auto;
}

.container div.center-div2 {
	flex: 0 1 auto;
	order: 2;
	align-self: auto;
	min-width: 0;
	min-height: auto;
}
*/





